JavaServer/.metadata/
JavaServer/Servers/
JavaServer/calzone/target/m2e-wtp/web-resources/META-INF/maven/com.vub/calzone/pom.properties
.gitignore.orig
SRS/main.aux
SRS/main.lof
SRS/main.log
SRS/main.lot
SRS/main.out
SRS/main.synctex.gz
SRS/main.toc
SRS/tex/SystemRequirements/FR1.log
SRS/tex/SystemRequirements/SystemRequirements.aux
SRS/tex/SystemRequirements/UserInterface.log
